# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS, Windows system files
.DS_Store
Thumbs.db

# Environment files
.env
*.env

# Logs
*.log

# Python package files
*.egg-info/
build/
dist/

# TensorFlow checkpoints and training logs
*.ckpt
*.h5
events.out.tfevents.*

# PyCharm
.idea/